// ## ELMA Colors
$theme-dark-blue: #5082e6;
$theme-yellow: #fabe00;
$theme-red: #e62d32;
$theme-blue: #5ad2ff;

// ## Base Colors
$blue: #456ebf;
$yellow: #f8bd2c;
$green: #3ea853;
$red: #e62d32;
$black: #000000;
$white: #ffffff;

// ## Secondary Colors
$menu: #fcfcfc;
$background: #f7f7f7;

// ## Shades of colors
// Shades of Blue
$blue-50: #eaf0fe;
$blue-100: #cddbf8;
$blue-200: #abc1ed;
$blue-300: #8daae2;
$blue-400: #5f84cd;
$blue-600: #4069ba;
$blue-700: #3962b3;

// Shades of Yellow
$yellow-50: #fef8e2;
$yellow-100: #fdebb5;
$yellow-200: #fbde87;
$yellow-300: #fad35a;
$yellow-400: #f9c83c;
$yellow-600: #f9b12a;
$yellow-700: #f89e27;

// Shades of Green
$green-50: #e8f9eb;
$green-100: #d1f8d9;
$green-200: #aee8b9;
$green-300: #89de98;
$green-400: #62c976;
$green-600: #3ca14f;
$green-700: #38964a;

// Shades of Red
$red-50: #ffeaee;
$red-100: #feccd3;
$red-200: #ee989b;
$red-300: #e46f74;
$red-400: #ee4d53;
$red-600: #d22533;
$red-700: #c51f2c;

// Shades of Black
$black-100: #e9e9e9;
$black-200: #d0d0d0;
$black-300: #b1b1b1;
$black-400: #888888;
$black-600: #6e6e6e;
$black-700: #545454;

:export {
  themeDarkBlue: $theme-dark-blue;
  themeYellow: $theme-yellow;
  themeRed: $theme-red;
  themeBlue: $theme-blue;
  blue: $blue;
  yellow: $yellow;
  green: $green;
  red: $red;
  black: $black;
  white: $white;
  menu: $menu;
  background: $background;
  blue50: $blue-50;
  blue100: $blue-100;
  blue200: $blue-200;
  blue300: $blue-300;
  blue400: $blue-400;
  blue600: $blue-600;
  blue700: $blue-700;
  yellow50: $yellow-50;
  yellow100: $yellow-100;
  yellow200: $yellow-200;
  yellow300: $yellow-300;
  yellow400: $yellow-400;
  yellow600: $yellow-600;
  yellow700: $yellow-700;
  green50: $green-50;
  green100: $green-100;
  green200: $green-200;
  green300: $green-300;
  green400: $green-400;
  green600: $green-600;
  green700: $green-700;
  red50: $red-50;
  red100: $red-100;
  red200: $red-200;
  red300: $red-300;
  red400: $red-400;
  red600: $red-600;
  red700: $red-700;
  black100: $black-100;
  black200: $black-200;
  black300: $black-300;
  black400: $black-400;
  black600: $black-600;
  black700: $black-700;
}
